@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	src: local('Open Sans'),
		url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	font-weight: 500;
	src: local('Open Sans'),
		url('../fonts/OpenSans-Medium.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	src: local('Open Sans'),
		url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	src: local('Open Sans'),
		url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-display: swap;
}